@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="page overview-page">
    <div class="page-title">
        <h1>FoxOne简介</h1>
    </div>
    <div class="page-body">
        <img src="~/images/award.jpg" alt="FoxOne简介" style="float: right; margin: 0px 30px 20px 40px;">
        <p>
            nopCommerce is leading ASP.NET based open-source eCommerce platform.
            It is a solution with comprehensive features that is applicable for all types of users from new online businesses,
            who is going to grow faster, to the most demanding ecommerce experts.
        </p>
        <p style="margin-bottom: 35px;">
            Our team: software developers, customer support representatives, product
            management experts and our community have been working on the platform
            since 2008 in order to create and maintain world-class e-business
            solutions to customers all around the world.
        </p>
        <img src="~/images/responsive_devices_small.jpg" alt="nopCommerce overview" style="float: left; margin: 7px 40px 1px 30px; width: 270px;">
        <p>
            And we succeed! Now nopCommerce is one of the most secure, stable and extendable ecommerce platforms.
            It has been downloaded more than 1.8 million times, and we have more than 27,000 live shops built on our platform.
        </p>
        <p style="margin-bottom: 48px;">
            The best thing about nopCommerce that it’s really free, there are no hidden fees or any other traps.
            Moreover, there is a rich architecture of the platform, you have an access to a lot of plugins out-of-the-box.
            Anyway there are a lot of additional functionality you can find in our
            <a href="http://www.nopcommerce.com/marketplace.aspx">marketplace</a>.
            Free support on our <a href="http://www.nopcommerce.com/boards/">community forums</a> is an important option as well.
        </p>
        <img src="~/images/product1.jpg" alt="nopCommerce overview" class="box-shadow" style="float: right; margin: 5px 30px 30px 45px; width: 343px;">
        <p>
            nopCommerce can be up-and-running in a few minutes. Simply download
            the software, and follow the simple installation instructions.
            nopCommerce is developed to take full advantage of the latest
            technologies available.
        </p>
        <p>
            We have put a lot of efforts ensuring that nopCommerce is optimized for search engines,
            allows your store to meet all search-engine standards.
            From search friendly URLs to properly structured content and products,
            you will find that nopCommerce was built to help your customers locate your content with ease.
        </p>
        <p>
            nopCommerce source code is available free for downloading.
            Just click <a href="http://www.nopcommerce.com/downloads.aspx">here</a> to download your copy today.
        </p>
    </div>
</div>
