@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="renderer" content="ie-stand" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密码修改</title>
    @System.Web.Optimization.Styles.Render("~/style/common.css")


    <style>
        h4 {
            font-size: 16px;
            margin: 10px 0;
            color: #0784de;
        }

        code {
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
        }

        .demo-box {
            margin: 10px 0;
            padding: 15px;
            border: 1px solid #0784de;
            border-radius: 3px;
        }

        p {
            margin: 5px 0;
        }

        /*修改密码样式*/
        .content-title {
            height: 47px;
            line-height: 47px;
            padding: 0 0 0 16px;
            margin: 0 0 20px 16px;
            font-size: 18px;
            color: #676767;
            font-weight: normal;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div style="margin: 20px;">

        <h2 class="content-title">登录密码</h2>
        <form id="changePasswordForm" action="/Home/ChangePassword" class="form-horizontal">
            <div class="form-group">
                <label for="OldPassword">原密码：</label>
                <input type="password" class="form-control" id="OldPassword" name="OldPassword" placeholder="输入原密码">
            </div>
            <div class="form-group">
                <label for="NewPassword">新密码：</label>
                <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="输入新密码">
            </div>
            <div class="form-group">
                <label for="Confirm">确认密码：</label>
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="再次输入新密码">
            </div>
            <div class="form-group">
                <label></label>
                <button onclick="save();" type="button" class="btn btn-success">保存</button>
                <button onclick="goBack();" type="button" class="btn btn-danger">返回</button>
            </div>
        </form>
    </div>
    @System.Web.Optimization.Scripts.Render("~/script/common.js")
    <script>
        function save() {
            var formId = "changePasswordForm";
            var oldPassword = $("#OldPassword").val();
            var newPassword = $("#NewPassword").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if(oldPassword=='' || newPassword=='' || confirmPassword==''){
                alert("请填写完整");
                return;
            }
            if (newPassword != confirmPassword) {
                alert("新密码与确认密码不一致");
                return;
            }
            foxOne.formAjaxSubmit(formId, function (res) {
                if (res) {
                    foxOne.alert("密码修改成功！");
                    window.location.href="/Vote/Index"
                }
                else {
                    foxOne.alert("修改失败");
                }
            });
        }

        function goBack() {
            window.location.href = "/Vote/Index";
        }
    </script>
</body>
</html>
