@model FoxOne.Web.Controllers.FormModel
@using FoxOne.Controls
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    @System.Web.Optimization.Styles.Render("~/style/common.css")
    <style>
        .form-group textarea.xheditor {
            height: 300px;
            width: 70%;
        }


        .form-group textarea.form-control {
            height: 200px;
            width: 70%;
        }
        .ti {
            padding:15px;
            padding-bottom:0px;
        }
    </style>
</head>
<body>
    <div class="main-container">
        @Html.CustomControl(Model.Tab == null ? (Model.Form as FoxOne.Business.IComponent) : (Model.Tab as FoxOne.Business.IComponent))
    </div>
    @System.Web.Optimization.Scripts.Render("~/script/common.js")
    @System.Web.Optimization.Scripts.Render("~/script/widget.js")
    <script>
        $(function () {
            $(document.forms[0]).validation();
            $(".input,.select").addClass("big");
            $("form").bind("submit", function () {
                if ($.validation.validate(this).isError) {
                    return false;
                }
                foxOne.dataService($(this).attr("action"), $(this).serialize(), function (res) {
                    if (res) {
                        alert('保存成功');
                        try {
                            if (window.top && window.top.onDialogClose && window.top.onDialogClose.length > 0) {
                                window.top.onDialogClose.pop()(res);
                            }
                        } catch (e) { }
                    }

                });
                return false;
            });
            var tabs = $("[tabItemTag]");
            if (tabs.length > 0) {
                var tabbox = "<div widget='Tab' initIndex='0'><div class='tab-box'>{0}</div>{1}</div>";
                var tabItemTemplate = "<span key='{0}' class='tab-item'>{1}</span>";
                var tabhideTemplate = "<div tabItem='{0}' class='ti'>{1}</div>";
                var tabItem = FoxOne.stringFormat(tabItemTemplate, "baseInfo", "基本信息");
                var tabHide = "";
                var k = 100;
                tabs.each(function () {
                    var key = k++;
                    var li = $(this).closest(".form-group");
                    li.find("label").remove();
                    $(this).addClass("full");
                    tabItem += FoxOne.stringFormat(tabItemTemplate, key, $(this).attr("tabItemTag"));
                    tabHide += FoxOne.stringFormat(tabhideTemplate, key, li.html());
                    li.remove();
                });
                tabHide += FoxOne.stringFormat(tabhideTemplate, "baseInfo", $("form").html());
                var result = FoxOne.stringFormat(tabbox, tabItem, tabHide);
                $("form").html("").css("padding", "0px");
                $(result).appendTo($("form"));
                var button = $("#btnSubmit");
                $(button).appendTo($(".tab-box")).css("margin-left", "30px");
                FoxOne.widget.initTab();
            }
            autoHeight();
            $(window).resize(autoHeight);
        });

        function autoHeight() {
            var screenHeight = Math.min($(window).height(), $(document).height());
            var tabBox = $(".tab-box").height();
            var ulHeight = screenHeight - tabBox - 30;
            $("[tabItem]").css("height", ulHeight-30).css("overflow-y", "auto");
            $("[tabitemtag]").css("width", "98%").css("height", ulHeight -60);
        }
    </script>
</body>
</html>
